body{
    background-color: oldlace;
}

.titulo{
    display: flex;
    text-align: center;
    color: rgb(99, 97, 146);
    flex-direction: column;
}
.main{
    flex-direction: column;
    display: flex;
    /*justify-content: center;*/
    height: 50vh;
   align-items: center;

}
.legenda{
    display: flex;
    color: rgb(97, 146, 124);
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.opcao {

    height: 8vh;
    width: 30vw;
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center;
    background-color: rgb(255, 216, 223);
    color: black;
    border: 3px solid;
    border-color: rgb(217, 255, 242);
    margin: 5px;
    border-radius: 5px;

}
.corrente{
    flex-direction: column;
    display: flex;
    /*justify-content: center;*/
    height: 50vh;
   align-items: center;
}
.botaoInserir{
   text-decoration: dashed palevioletred;
   color: palevioletred;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}
input{
    border: 3px solid;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-color: rgb(217, 255, 242);
    background-color: rgb(255, 216, 223);
    height: 4vh;
    width: 30vw;
    margin: 5px;
}
input:hover{
    align-items: center;
    height: 4vh;
    width: 30vw;
    border: 3px solid;
    border-radius: 5px;
    background-color: rgb(217, 255, 242);
    border-color: rgb(255, 216, 223);

}
.formula{
    color: rgb(107, 177, 107);
    font-size: 22px;
    text-align: center;
}